<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/layout}"
>
<head>
  <style>
    img {max-width : 500px;}
  </style>
</head>


<div class="container-md" layout:fragment="content" th:with="boardDTO=${boardFileDTO.boardDTO}">
  <h1>NO.[[${boardDTO.bno}]] Board Detail Page</h1>

  <form action="/board/modify" method="post" id="modForm" enctype="multipart/form-data">
    <!-- CSRF토큰 추가 -->
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
    <input type="hidden" name="bno" th:value="${boardDTO.bno}">
    <div class="mb-3">
      <label for="t" class="form-label">제목</label>
      <input type="text" class="form-control" name="title" th:value="${boardDTO.title}" id="t" readonly>
    </div>

    <div class="mb-3">
      <label for="r" class="form-label">작성일</label>
      <input type="text" class="form-control" th:value="${boardDTO.detailRegTime}" id="r" readonly>
    </div>

    <div class="mb-3">
      <label for="m" class="form-label">수정일</label>
      <input type="text" class="form-control" th:value="${boardDTO.detailModTime}" id="m" readonly>
    </div>

    <div class="mb-3">
      <label for="w" class="form-label">작성자</label>
      <input type="text" class="form-control" name="writer" th:value="${boardDTO.writer}" id="w" readonly>
    </div>

    <!--content-->
    <div class="mb-3" th:utext="${boardDTO.content}" id="toast-content">
    </div>
    <div id="editor" style="display : none;"></div>


  <div>
    파일 : [[${boardDTO.fileQty}]]개
  </div>
  <!-- 파일 출력 라인 시작-->
  <div id="fileList" class="mb-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item fileBno" th:each="fvo:${boardFileDTO.fileList}">
        <div th:if="${fvo.fileType == 1}" class="mb-3">
          <!--
           이미지 경로 양 옆에 절댓값이 들어가는 이유는
           webMvcConfig 에서 설정한 절대경로인 /upload 인식하기 위해서이다.

           즉 사용하게 되면 루트 디렉터리 기준의 절대 경로(/upload/**)를 인지하여,
           서버 도메인 기준으로 정해진위치에서 파일을 찾아 올 수 있다.
           -->
          <img th:src="@{|/upload/${fvo.saveDir}/${fvo.uuid}_${fvo.fileName}|}" alt="사진">
        </div>
        <div th:unless="${fvo.fileType == 1}" class="mb-3">
          <!--/*icon*/-->
          <a th:href="@{|/upload/${fvo.saveDir}/${fvo.uuid}_${fvo.fileName}|}"
             th:download="${fvo.fileName}">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-down-circle" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293z"/>
            </svg>
          </a>
        </div>

        <div class="mb-3">
          <div class="fw-bold">[[${fvo.fileName}]]</div>
          [[${fvo.regTimeOrDate}]]
        </div>
          <span class="badge text-bg-primary rounded-pill">[[${fvo.fileSize}]]Bytes</span>
        <button type="button" th:data-uuid="${fvo.uuid}" class="btn btn-outline-danger file-x" style="visibility:hidden">파일삭제</button>
      </li>
    </ul>
  </div>

  <!-- file 추가 -->
  <div class="mb-3">
    <input type="file" class="form-control" name="files" id="file" multiple style="display:none;">
    <button type="button" class="btn btn-outline-success" id="trigger" disabled>파일</button>
  </div>
  <!-- file 표시 -->
  <div class="mb-3" id="fileZone">
  </div>

  <!-- 파일 출력 라인 끝-->
  <button type="button" id="listBtn" class="btn btn-primary">목록</button>
  <th:block sec:authorize="isAuthenticated()" th:with="auth=${#authentication}">
    <th:block th:if="${auth.name == boardDTO.writer}">
      <button type="button" id="modBtn" class="btn btn-info">수정</button>
      <button type="button" id="delBtn" class="btn btn-danger">삭제</button>
    </th:block>
  </th:block>

  </form>

  <div>
    댓글 : [[${boardDTO.cmtQty}]]개
  </div>
  <!-- comment line start-->
  <!-- post -->
    <div class="input-group mb-3" style="margin-top:20px" sec:authorize="isAuthenticated()">
      <span class="input-group-text" id="cmtWriter">[[${#authentication.name}]]</span>
      <input type="text" class="form-control" id="cmtText" placeholder="comment..." aria-label="Username" aria-describedby="basic-addon1">
      <button type="button" id="cmtAddBtn" class="btn btn-secondary">post</button>
    </div>

  <!-- print -->
  <ul class="list-group list-group-flush" id="cmtListArea">
  </ul>

  <!-- 댓글 더보기 버튼 : 한 페이지에 5개 댓글 표시 더 있으면 더보기 버튼 활성화 / 없으면 사라짐-->
  <div class="mb-3">
    <button type="button" id="moreBtn" data-page="1" class="btn btn-secondary" style="visibility: hidden">더보기 +</button>
  </div>

  <!-- 수정 test -->

  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="cno-writer">Writer</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <input type="text" class="form-control" id="cmtTextMod">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
          <button type="button" class="btn btn-primary" id="cmtModBtn">수정</button>
        </div>
      </div>
    </div>
  </div>
<!-- comment line end -->


<!--script line start-->
  <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
  <script src="https://unpkg.com/turndown/dist/turndown.js"></script>
  <script th:inline="javascript">
    const toastContent = [[${boardDTO.content}]];
  </script>
  <th:block th:with="bdto=${boardDTO}">
    <script th:inline="javascript">
      const bnoValue = [[${bdto.bno}]];
    </script>
  </th:block>
  <th:blcok sec:authorize="isAuthenticated()"
            th:with="authEmail=${#authentication.name}">
    <script th:inline="javascript">
      const userEmail = [[${authEmail}]];
      console.log(userEmail);
    </script>
  </th:blcok>
  <script th:src="@{/js/boardComment.js}"></script>
  <script th:src="@{/js/boardDetail.js}"></script>
  <script>
    spreadCommentList(bnoValue);
  </script>
<!--script line end-->

</div>
