<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
>

<div class="container-md" layout:fragment="content">
  <h1>My Spring Boot_JPA Project</h1>
  <div class="d-flex justify-content-evenly" style="margin-top : 100px;">
    <div class="d-flex flex-column justify-content-center align-items-center">
      <p class="fw-bold text-success">최신글</p>
      <ul class="list-group" th:each="latestBoard:${Latest5BoardList}">
        <li class="list-group-item" style="width : 600px;">
          <span>[[${latestBoard.bno}]]</span> /
          <span>제목 : [[${latestBoard.title}]]</span> /
          <span>작성자 : [[${latestBoard.writer}]]</span>
        </li>
      </ul>
    </div>

    <div class="d-flex flex-column justify-content-center align-items-center">
      <p class="fw-bold text-success">조회수 TOP5</p>
      <ul class="list-group" th:each="top5Board:${top5BoardList}">
        <li class="list-group-item" style="width : 600px;">
          <span>[[${top5Board.bno}]]</span> /
          <span>제목 : [[${top5Board.title}]]</span> /
          <span>작성자 : [[${top5Board.writer}]]</span> /
          <span>조회수 : [[${top5Board.readCount}]]</span>
        </li>
      </ul>
    </div>
  </div>

</div>